*{
    margin: 0px 0px;
}

body{
    font-family: 'Roboto',sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: #3E4794;
    font-size: 17px;
    margin-top: 20px;
    cursor: grab;
}

.nav-item:hover{
    color:#965CF2;
    font-size: 20px;
}

.signin-btn{
    background: linear-gradient(90deg,#965CF2 , #FF8ADC);
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: grab;
    margin-top: 20px; 
    box-shadow: 1px 2px 4px #4158D0;
}

.signin-btn:hover{
    background: linear-gradient(43deg,#4158D0 , #C850C0,#FFCC70);
    font-size: 15px;
} 


.intro-section{
    display: flex;
    justify-content: space-between;
}
/* Left Section text */
.left-section{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 50px;
}

.left-section h1{
    font-size: 70px;
    color: #3E4794;
}

.left-section p{
    margin-top: -160px;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}

.learn-more-btn{
    background: linear-gradient(90deg,#965CF2 , #FF8ADC);
    border: none;
    color: #ffffff;
    margin-top: -140px;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: 1px 2px 4px #4158D0;
    cursor: grab;
}
.learn-more-btn:hover{
    background: linear-gradient(43deg,#4158D0 , #C850C0,#FFCC70);
    font-size: 25px;
} 
/* Right section images */

.imgs-div{
    display: flex;
    flex-wrap: wrap;
}

.vector-img{
    width: 90px;
    position: absolute;
    bottom: 80px;
}

.vector-dot{
    width: 40px;
    position: absolute;
    bottom: 180px;
    right: 600px;
}

.intro-img{
    width: 650px;
    margin-right: 60px;
}

.background-img{
    z-index: -1;
    width: 700px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.hambur{
    display: none;
}

/* *******************************************
*******************************************
***** Mobile Responsiveness ******
*******************************************
******************************************* */

@media screen and (max-width:320px){
    /* images */
    body{
        position: relative;
    }
    .intro-img{
        position: absolute;
        top: 890px;
        right: 0px;
        left: 100px;
    }
    .vector-img{
        position: absolute;
        top: 950px;
        right: 100px;
    }
    .vector-dot{
       margin-left: 100px;

    }
    .background-img{
        margin-left: 120px;
    }

    .nav-items{
        display: none;
    }
    .hambur{
        display: block;
    }
    .ham-lines{
        width: 40px;
        margin-left: 360px;
        margin-top: 10px;
    }

    .signin-btn{
       position: relative;
       top: 410px;
       left: 75px;
       padding: 15px 60px;
       font-size: 20px;
       white-space: nowrap;
    }
    .left-section{
        margin-top: 100px;
        margin-left: 300px;
    }
    .left-section h1{
        color: #3E4794;
        font-size: 80px;
        margin-left: -100px;
    }
   
    .left-section p{
        white-space: nowrap;
        font-size: 40px;
        position: relative;
        top: 400px;
        left: -250px;
    }
    .learn-more-btn{
        margin-top: 20px;
    }
}

@media screen and (max-width:768px) {
    .background-img{
        position: absolute;
        left: 300px;
    }
    .intro-img{
       margin-top: 100px;
       margin-left: 80px;
       width: 580px;
    }
    .vector-dot{
        position: absolute;
        top: 700px;
        right: 350px;
    }
    .vector-img{
       margin-left: 60px;
       margin-top: 600px;
    }

    .nav-items{
        margin-left: 150px;
    }
    .signin-btn{
        margin-left: 100px;
        white-space: nowrap;
    }
}